body{
    background-color: azure;
}

h1{
    font-size: 60px;
    text-align: center;
}

#container {
    margin: 0 200px;
}

span {
    font-weight: bold;
}

.scores{
    line-height: 5px
}

hr{
    margin-top: 30px;
}